@import '~bootstrap/scss/bootstrap';

body {
  background-color: khaki;

}

h2 {
  font-style: oblique;
}

title {
  text-align: center;

}
.success {
  color: green;
}

.failure {
 color: red;
}

.flex-container {
  display: flex;
}

.flex-column {  flex-direction: column;
}

.flex-center {  align-items: center;  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.board-container {
  height: 100%;
  width: 100%;
  display: none

}

.board {
  width: 618px;
  margin: auto;



}

.square {
  width: 200px;
      height: 100px;
      /* add below this second */
      border: 2px solid mediumslateblue;
      font-size: 56px;

  }
